<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>NewsList</key>
        <array>
            <dict>
                <key>Title</key>
                <string>中国楼市迷局2</string>
                <key>DetailTitle</key>
                <string>中国楼市大变天，你认为会跌多少？？？</string>
                <key>Picture</key>
                <string>news1.jpg</string>
            </dict>
            <dict>
                <key>Title</key>
                <string>中国楼市迷局</string>
                <key>DetailTitle</key>
                <string>中国楼市大变天，你认为会跌多少？？？</string>
                <key>Picture</key>
                <string>news2.jpg</string>
            </dict>
            <dict>
                <key>Title</key>
                <string>中国楼市迷局</string>
                <key>DetailTitle</key>
                <string>中国楼市大变天，你认为会跌多少？？？</string>
                <key>Picture</key>
                <string>news3.jpg</string>
            </dict>
            <dict>
                <key>Title</key>
                <string>中国楼市迷局</string>
                <key>DetailTitle</key>
                <string>中国楼市大变天，你认为会跌多少？？？</string>
                <key>Picture</key>
                <string>news4.jpg</string>
            </dict>
            <dict>
                <key>Title</key>
                <string>中国楼市迷局</string>
                <key>DetailTitle</key>
                <string>中国楼市大变天，你认为会跌多少？？？</string>
                <key>Picture</key>
                <string>news4.jpg</string>
            </dict>
            <dict>
                <key>Title</key>
                <string>中国楼市迷局</string>
                <key>DetailTitle</key>
                <string>中国楼市大变天，你认为会跌多少？？？</string>
                <key>Picture</key>
                <string>news5.jpg</string>
            </dict>
            <dict>
                <key>Title</key>
                <string>中国楼市迷局</string>
                <key>DetailTitle</key>
                <string>中国楼市大变天，你认为会跌多少？？？</string>
                <key>Picture</key>
                <string>news6.jpg</string>
            </dict>
            <dict>
                <key>Title</key>
                <string>中国楼市迷局</string>
                <key>DetailTitle</key>
                <string>中国楼市大变天，你认为会跌多少？？？</string>
                <key>Picture</key>
                <string>news5.jpg</string>
            </dict>
            <dict>
                <key>Title</key>
                <string>中国楼市迷局</string>
                <key>DetailTitle</key>
                <string>中国楼市大变天，你认为会跌多少？？？</string>
                <key>Picture</key>
                <string>news6.jpg</string>
            </dict>
            <dict>
                <key>Title</key>
                <string>中国楼市迷局</string>
                <key>DetailTitle</key>
                <string>中国楼市大变天，你认为会跌多少？？？</string>
                <key>Picture</key>
                <string>news5.jpg</string>
            </dict>
            <dict>
                <key>Title</key>
                <string>中国楼市迷局</string>
                <key>DetailTitle</key>
                <string>中国楼市大变天，你认为会跌多少？？？</string>
                <key>Picture</key>
                <string>news6.jpg</string>
            </dict>
            <dict>
                <key>Title</key>
                <string>中国楼市迷局</string>
                <key>DetailTitle</key>
                <string>中国楼市大变天，你认为会跌多少？？？</string>
                <key>Picture</key>
                <string>news5.jpg</string>
            </dict>
            <dict>
                <key>Title</key>
                <string>中国楼市迷局</string>
                <key>DetailTitle</key>
                <string>中国楼市大变天，你认为会跌多少？？？</string>
                <key>Picture</key>
                <string>news6.jpg</string>
            </dict>
        </array>
    </dict>
</plist>
